
:root {
  /* note size */
  --unit: 5px;
}

.piano-roll {
  display: flex;
  flex-direction: row;
  max-height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

.vertical-keyboard {
  background: white;
  max-width: calc(var(--unit) * 9);
  display: inline-block;
}

.vk-octave {
  position: relative;
  height: calc(var(--unit) * 28);
  width: calc(var(--unit) * 9);
}

.vk-octave .vko-note {
  position: absolute;
  user-select: none;
}

.vk-octave .vko-note::after {
  content: "";
}

.vk-octave .vko-note.black {
  background: black;
  color: white;
  height: calc(var(--unit) * 2);
  z-index: 3;
  width: calc(var(--unit) * 4);
}

.vk-octave .vko-note.white {
  box-shadow: 0 0 1px black;
  z-index: 2;
  height: calc(var(--unit) * 4);
  background: lightgray;
  color: black;
  width: calc(var(--unit) * 9);
}

.vko-note:nth-child(1)  { top: calc( 0 * var(--unit)); }
.vko-note:nth-child(2)  { top: calc( 3 * var(--unit)); }
.vko-note:nth-child(3)  { top: calc( 4 * var(--unit)); }
.vko-note:nth-child(4)  { top: calc( 7 * var(--unit)); }
.vko-note:nth-child(5)  { top: calc( 8 * var(--unit)); }
.vko-note:nth-child(6)  { top: calc(11 * var(--unit)); }
.vko-note:nth-child(7)  { top: calc(12 * var(--unit)); }
.vko-note:nth-child(8)  { top: calc(16 * var(--unit)); }
.vko-note:nth-child(9)  { top: calc(19 * var(--unit)); }
.vko-note:nth-child(10) { top: calc(20 * var(--unit)); }
.vko-note:nth-child(11) { top: calc(23 * var(--unit)); }
.vko-note:nth-child(12) { top: calc(24 * var(--unit)); }
